main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.usersPage {
  height: 100%;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 200px;
  width: 100%;
}

.adminUsers {
  max-width: 1300px;
}