main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.usersPage {
  align-items: center;
  h1 {
    flex-basis: 100%;
    font-family: "HelveticaNeueBold";
    font-size: 32px;
    color: #174dba;
    font-weight: bold;
    margin: 80px 0px 20px 40px;
  }
}