.loginButton {
  font-size: 22px;
  font-weight: bold;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 10px;
  margin: auto;
  height: 50px;
  width: 70%;
  margin-bottom: 60px;
  margin-top: 50px;
  border: 0px;
  cursor: pointer;
  transition: background-color 0.5s;
  border: none;
  outline: inherit;
  button {
    height: 200px;
  }
  &:hover {
    background-color: darken($primary-color, 15);
  }
}

.editButton {
    margin-left: auto;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;

    img {
      margin: 15px;
    }
}