button {
  cursor: pointer;
  border: none;
  outline: inherit;
}

.loginButton {
  font-size: 22px;
  font-weight: bold;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 10px;
  margin: auto;
  height: 50px;
  width: 70%;
  margin-bottom: 60px;
  margin-top: 50px;

  transition: background-color 0.5s;

  &:hover {
    background-color: darken($primary-color, 15);
  }
}

.editButton {
  margin-left: auto;
  background: none;
  color: inherit;

  img {
    margin: 15px;
  }
}
