.userList {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 20px;

  @media (max-width: 768px) {
  }
}