.userBox {
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  border-radius: 10px;

  .userImg {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: $white-color;
  }

  p {
    margin: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: HelveticaNeueBold;
    color: $primary-color;
  }

  span {
    margin: auto;
    text-align: center;
    color: $dark-color;
    margin-bottom: 70px;
  }
}
