* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eff0f3;
  color: #174dba;
  -webkit-font-smothing: antialised;
  margin: auto;
}

body,
input,
button {
  font-family: "HelveticaNeue";
  font-size: 16px;
}

header {
  background: #174dba;
  position: fixed;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}
header .logo {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
header img {
  width: 200px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.usersPage {
  height: 100%;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 200px;
  width: 100%;
}

.adminUsers {
  max-width: 1600px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 470px;
  margin: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .loginBox {
    width: 370px;
  }
  .loginBox form input {
    border: 2px solid #174dba;
    color: #174dba;
    margin: auto;
    border-radius: 10px;
    height: 50px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .loginBox {
    width: 100%;
  }
  .loginBox form input {
    border: 2px solid #174dba;
    color: #174dba;
    margin: 0;
    border-radius: 10px;
    height: 50px;
    width: 100%;
  }
}
.loginBox form {
  display: flex;
  flex-direction: column;
}
.loginBox form label {
  margin: auto;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 70%;
}
.loginBox form input {
  border: 2px solid #174dba;
  color: #174dba;
  margin: auto;
  border-radius: 10px;
  height: 50px;
  width: 70%;
}
.loginBox form textarea:focus,
.loginBox form input:focus,
.loginBox form select:focus {
  box-shadow: 0 0 0 0;
  border: 2px solid #505050;
  border-radius: 10px;
  outline: 0;
}
.loginBox form .inputData {
  padding-right: 20px;
  padding-left: 20px;
}

button {
  cursor: pointer;
  border: none;
  outline: inherit;
}

.loginButton {
  font-size: 22px;
  font-weight: bold;
  background-color: #174dba;
  color: #ffffff;
  border-radius: 10px;
  margin: auto;
  height: 50px;
  width: 70%;
  margin-bottom: 60px;
  margin-top: 50px;
  transition: background-color 0.5s;
}
.loginButton:hover {
  background-color: #0f3176;
}

.editButton {
  margin-left: auto;
  background: none;
  color: inherit;
}
.editButton img {
  margin: 15px;
}

.userList {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 30px;
}

.userBox {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
}
.userBox .userImg {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: #ffffff;
}
.userBox p {
  margin: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: HelveticaNeueBold;
  color: #174dba;
}
.userBox span {
  margin: auto;
  text-align: center;
  color: #505050;
  margin-bottom: 70px;
}

footer {
  text-align: end;
  padding: 0px 20px 50px 50px;
  grid-column: 1/-1;
}

h1 {
  font-family: "HelveticaNeueBold";
  font-size: 32px;
  font-weight: bold;
}

.adminUsers h1 {
  position: absolute;
  top: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.loginBox h1 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 55px;
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("../assets/fonts/Helvetica Neu Bold.ttf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../assets/fonts/HelveticaNeue Medium.ttf");
}

/*# sourceMappingURL=main.css.map */
