@font-face {
  font-family: HelveticaNeue;
  src: url("../assets/fonts/HelveticaNeue\ Medium.ttf");
  font-family: HelveticaNeueBold;
  src: url("../assets/fonts/Helvetica\ Neu\ Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
}

body {
  background: #eff0f3;
}

header {
  background: #174dba;
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  margin: auto;
}

header img {
  margin: auto;
}

main {
  max-width: 1400px;
  height: 100vh;
  font-family: "HelveticaNeue";
  text-rendering: optimizeLegibility;
  -webkit-font-smothing: antialiased;
  padding: 30px;
  margin: auto;
}

main h1 {
  flex-basis: 100%;
  font-family: "HelveticaNeueBold";
  font-size: 32px;
  color: #174dba;
  font-weight: bold;
  margin: 80px 0px 20px 40px;
}

main .userList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 380px;
  max-width: 380px;
}

main .container button {
  margin-left: auto;
  border: none;
  background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

main .container button img {
  margin: 15px;
}

main .container .userImg {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

main .userList p {
  margin: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: HelveticaNeueBold;
  color: #174dba;
}

main .userList span {
  margin: auto;
  text-align: center;
  font-size: 16px;
  color: #505050;
  margin-bottom: 30px;
}

main footer p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: end;
  margin: 15px 40px 60px 0px;
}


